### Build Artifacts ###
/target/
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/
/mvnw
.mvn/wrapper/maven-wrapper.jar

# Exclude only inside build/target folders (not src)
/!**/src/main/**/target/
/!**/src/test/**/target/
/!**/src/main/**/build/
/!**/src/test/**/build/

### Logs & Temp Files ###
*.log
*.tmp
*.bak
*.swp

### OS Files ###
.DS_Store
Thumbs.db

### Sensitive Files ###
.env
